<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TrackLengthDefault" value="60" />
		<add key="StartLastfmOnStartup" value="1" />
		<add key="CloseLastfmOnExit" value="1" />
	</appSettings>
	<!-- Don't edit the following! -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Resources" />
		</assemblyBinding>
	</runtime>
</configuration>