<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LastFMAuthToken" value="" />
		<add key="LastFMSessionToken" value="" />
		<add key="TrackLengthDefault" value="60" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Resources" />
		</assemblyBinding>
	</runtime>
</configuration>