<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LastFMUsername" value="" />
		<add key="LastFMAuthToken" value="" />
		<add key="LastFMSessionToken" value="" />
		<add key="TrackLengthCustom" value="60" />
		<add key="TrackPercentageScrobble" value="50" />
		<add key="TrackShowOverlay" value="True" />
		<add key="VolumeShowOverlay" value="True" />
	</appSettings>
</configuration>