<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ZuseLengthDefault" value="70" />
    <add key="ZuseUseMusicBrainz" value="1" />
    <add key="ZuseUseMediaKeys" value="0" />
    <add key="StartZuneStartup" value="0" />
    <add key="exitZuneOnExit" value="1" />
    <add key="StartLastfmStartup" value="1" />
    <add key="exitLastfmOnExit" value="1" />
    <add key="ZuneFilename" value="c" />
  </appSettings>
  <!-- Don't edit the following! -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resources" />
    </assemblyBinding>
  </runtime>
</configuration>